<div class="categories">
    <div class="container">
        <div class="section-title">
            <h2>Categories</h2>
        </div>
        <div class="row">
           
            <div class="categories__slider owl-carousel">

                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="assets/img/categories/cat-1.jpg">
                        <h5><a>Fresh Fruits</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" style="background-size: 180px;" data-setbg="assets/img/categories/cat-2.jpg">
                        <h5><a>Pulses</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="assets/img/categories/cat-3.jpg">
                        <h5><a>Vegetables</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Featured Product</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li data-filter="*" [class.active]="activeFilter === '*'" (click)="setActiveFilter('*')">All
                        </li>
                        <li *ngFor="let category of categories" [attr.data-filter]="category.name.toLowerCase()"
                            [class.active]="(category.name.toLowerCase() === activeFilter)"
                            (click)="setActiveFilter(category.name.toLowerCase())">
                            {{ category.name }}
                        </li>

                    </ul>
                </div>
            </div>
        </div>


        <div class="row featured__filter">
            <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let product of filteredProducts">
                <div class="featured__item">
                    <div class="featured__item__pic"
                        [ngStyle]="{'background-image': 'url(' + 'data:image/jpeg;base64,' + product.img + ')'}">
                        <ul class="featured__item__pic__hover">
                            <li><a [routerLink]="['/organic-bazaar/order-product', product.id]"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h4><a >{{ product.name }}</a></h4>
                        <h5>₹{{ product.price.toFixed(2) }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>